.slider {
  position: relative;
  width: 100%;
}

.slider__container {
  position: relative;
  overflow: hidden;

  width: 87.5%;
  margin: 0 auto;

  box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}

.slider__item {
  position: relative;

  display: none;
  width: 100%;

  animation: 0.5s ease-in-out;

  &.active,
  &.next {
    display: block;
  }

  &.next {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.to-left {
    animation-name: left;
  }

  &.to-right {
    animation-name: right;
    animation-direction: reverse;
  }

  &.from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  &.from-right {
    animation-name: right;
  }
}

.slider__control-left,
.slider__control-right {
  position: absolute;
  top: 38%;

  @media (max-width: 640px) {
    display: none;
  }
}

.slider__control-left {
  left: 0;
}

.slider__control-right {
  right: 0;
}

.slider__button-left,
.slider__button-right {
  font-size: 48px;
  color: $bg1;

  cursor: pointer;
  transform: translateY(-50%);
}

@keyframes left {

  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {

  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.list {
  margin-bottom: 20px;
  padding-left: 30px;

  @media (max-width: 640px) {
    display: none;
  }
}

.list__item {
  margin-bottom: 10px;

  font-size: $f-size2;

  list-style-type: disc;
}

.description {
  display: flex;
  justify-content: space-between;

  @media (max-width: 640px) {

    flex-direction: column;
    align-items: center;
  }

  & > div {
    padding-top: 20px;
    padding-left: 20px;
  }

  & p {
    font-size: 12px;
    font-weight: 600;

    @media (max-width: 640px) {
      display: none;
    }
  }

  & a {
    cursor: pointer;
  }
}